{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente qui voluptas laudantium saepe, culpa, similique, laborum est vero eius odio alias inventore nisi? Odit odio, amet iste vel debitis obcaecati.
    <ul>
        <li>
        <a href="{{ path('recipe.show', {id: 32, slug: 'pate-bolognaise'}) }}">Pate Bolognaise</a>
        </li>
    </ul>
{% endblock %}